body * {
    font-family: 'Cairo', sans-serif;
}
.statistics {
 	width:422px;
    margin: 0 auto;
    text-align: center;

}

.statistics_box {
	width: 150px;
	float: right;
	border: 1px solid #cccccc;
	padding: 15px;
	margin: 15px;
	border-radius: 5px;
    text-align: center;
    color: #cccccc;
}


.charts_header {
    color: #008000;
}

.charts_border {
    border:1px solid #008000;
}

.recent_users {
 	padding: 30px; 
}
.recent_users td, th {
	padding: 15px;
	border: 1px solid red;
}

.search {
    margin: 5px;
}

#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

